.git*
.DS_Store
.idea
.rancher-pipeline.yml
./*.md
./*.yml
!./codeception.yml
phpunit.xml.dist
Dockerfile
docker-compose.yml
README.md
.env.*
.env
.php_cs.dist
vendor/*
var/cache/*
var/jwt/*
var/log/*
public/bundles
public/static/*
