POSTGRES_PASSWORD=test
TEST_POSTGRES_USER=test
TEST_POSTGRES_PASSWORD=test
TEST_DATABASE_HOST=127.0.0.1
TEST_POSTGRES_DB=test
POSTGRES_DB=${TEST_POSTGRES_DB}

INVITATION_SALT=donotusersimplepasswords
ALLOW_FRONT_REDIRECT_PATTERN='/^http[s]*:\/\/(example.com|example2.com)/'

APP_ENV=dev
APP_SECRET=1234

JWT_PUBLIC_KEY=tests/_keys/public.pem
JWT_SECRET_KEY=tests/_keys/private.pem
JWT_PASSPHRASE=caesar

SENDER_ADDRESS=noemail@example.com

RABBITMQ_HOST=rabbitmq
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq
RABBITMQ_IDLE_TIMEOUT=30

GOOGLE_ID=
GOOGLE_SECRET=

DOMAIN_ADMIN_EMAIL=admin@domain.com
CORS_ALLOW_ORIGIN=*

OAUTH_ALLOWED_DOMAINS=example.com,example.ru,domain.com

MERCURE_PUBLISH_URL=http://mercure/.well-known/mercure
# The default token is signed with the secret key: !ChangeMe!
MERCURE_JWT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOltdfX0.Oo0yg7y4yMa1vr_bziltxuTCqb8JVHKxp-f_FwwOim0
MERCURE_JWT_SECRET=!ChangeMe!