POSTGRES_PASSWORD=test
TEST_POSTGRES_USER=test
TEST_POSTGRES_PASSWORD=test
TEST_DATABASE_HOST=127.0.0.1
TEST_POSTGRES_DB=test

INVITATION_SALT=donotusersimplepasswords
ALLOW_FRONT_REDIRECT_PATTERN='/^http[s]*:\/\/(example.com|example2.com)/'

APP_ENV=dev
APP_SECRET=1234

JWT_PUBLIC_KEY=tests/_keys/public.pem
JWT_SECRET_KEY=tests/_keys/private.pem
JWT_PASSPHRASE=caesar

SENDER_ADDRESS=noemail@example.com

RABBITMQ_HOST=rabbitmq
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq
RABBITMQ_IDLE_TIMEOUT=30

GOOGLE_ID=
GOOGLE_SECRET=