<html>
<head>
    <meta charset="UTF-8" />
    <title>Request</title>
</head>
<body>
<script>
    let publicKey = {{ options|raw }};

    function arrayToBase64String(a) {
        return btoa(String.fromCharCode(...a));
    }

    publicKey.challenge = Uint8Array.from(window.atob(publicKey.challenge), c=>c.charCodeAt(0));
    publicKey.user.id = Uint8Array.from(window.atob(publicKey.user.id), c=>c.charCodeAt(0));
    if (publicKey.excludeCredentials) {
        publicKey.excludeCredentials = publicKey.excludeCredentials.map(function(data) {
            return {
                ...data,
                'id': Uint8Array.from(window.atob(data.id), c=>c.charCodeAt(0))
        };
        });
    }

    navigator.credentials.create({publicKey})
        .then(function (data) {
            let publicKeyCredential = {

                id: data.id,
                type: data.type,
                rawId: arrayToBase64String(new Uint8Array(data.rawId)),
                response: {
                    clientDataJSON: arrayToBase64String(new Uint8Array(data.response.clientDataJSON)),
                    attestationObject: arrayToBase64String(new Uint8Array(data.response.attestationObject))
                }
            };

            window.location = '{{ path('fido_register') }}?data='+btoa(JSON.stringify(publicKeyCredential));
        }, function (error) {
            alert(error);
            //console.log(error);
            console.log('we are there');
        });
</script>
</body>
</html>