{% extends "EasyAdminBundle:default:list.html.twig" %}
{% block content_header %}
    {% set errors = app.request.get('errors')|default({}) %}
    {% if errors %}
        {% for error in errors %}
            <p class="badge badge-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}
    {{ parent() }}
{% endblock content_header %}
