{% extends 'email/layout.html.twig' %}

{% block subject %}You’ve been invited to join {{ env('APP_NAME')|default('Caesar.Team') }}.{% endblock %}

{% block body %}
    <h2>Hi!</h2>
    <p>You’ve been invited to join {{ env('APP_NAME')|default('Caesar.Team') }}, a reliable system to store and manage your secrets.
        Get started by creating an account for yourself.</p>
    <p><a href="{{ url }}">Join {{ env('APP_NAME')|default('Caesar.Team') }}</a></p>
    <p>After you create personal account you will get access to the shared secrets.</p>
{% endblock %}
