{% extends 'email/layout.html.twig' %}
{% block subject %}
    Resetting your password
{% endblock %}
{% block body %}
    {% autoescape false %}
        <p>Resetting your password</p>

        <p>Hello {{ user.username }}!</p>

        <p>You can reset your password by accessing {{ confirmationUrl }}</p>

        <p>Greetings,<br>
        the Caesar team</p>
    {% endautoescape %}
{% endblock %}